body {
    width: 900px;
    margin: 0 auto;
}

.research-project {
    width: 800px;
    margin: 0 auto;
    display: table;
}

.research-thumb {
    width: 200px;
    height: 150px;
    float: left;
    margin-top: 7px;
    margin-bottom: 20px;
    padding-right: 30px;
}

.research-thumb img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.research-project-title {
    color: #003373;
    font-size: 16px;
    line-height: 26px;
}
